@import 'variables';

html {
  font-size: 16px;
  font-family: sans-serif;
}

::placeholder {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
}

label {
  font-size: 14px;
}

input,
textarea,
select {
  font-weight: $font-weight-light;
}

* {
  transition: 0.3s;
}
